html,
.nav-container {
    margin-top: 30px;
	display:flex;
  align-items:center;
  justify-content: space-evenly;
}
.menu li {
    color: #9893A3;
    margin-inline: 20px;
    font-family:'Open Sans';
}
.menuitem {
    display: inline-block;
    position: relative;
  }
  .menuitem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 10%;
    background-color: #512BE7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .menuitem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.btn1 {
	display: inline-block;
	border: 1px solid #6C63FF;
	width: 102px;
	height: 51px;
    margin-right: 5px;
	background-color: #ffffff;
	border-radius: 2px;
    padding: 16px, 30px;
    gap: 10ps;
    justify-content: center;
    text-align: center;
    font-family:'Open Sans';
    font-weight: 700;
    line-height: 19px;
	font-size: 14px;
	color: #6C63FF;
    line-height:45px;
}
.btn2 {
	display: inline-block;
	border: 1px solid;
	width: 140px;
    left: 118px;
	height: 51px;
    margin-left: 5px;
    padding: 16px, 30px;
    justify-content: center;
	background-color: #6C63FF;
	border-radius: 2px;
    font-family:'Open Sans';
    font-weight: 700;
    font-size: 14px;
    gap: 10px;
    text-align: center;
	color: #ffffff;
    line-height:45px;
}
.block1{
    justify-content: center;
    width: 70%;
    margin: auto; 
}
.letsgetfusely{
    width: 480px;
    font-family: 'Playfair Display';
    font-size: 86px;
    color: #2F2E41;
}
.txt{
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 30px;
    color: #9893A3;
}
.img3{
    margin-left: 500px;
    margin-top: 30px;
    width: 800px;
    height: 65px;
}
.menu-button{
    width: 30px;
    height: 30px;
    display: none;
}
.block2{
    justify-content: center;
    width: 70%;
    margin: auto; 
}
.rame{
    margin-left: 60%;
}
.text2{
   
    font-family: 'Playfair Display';
    font-size: 60px;
    color: #2F2E41; 
       
   
}
.txtt{
    font-family: 'Open Sans';
    font-size: 20px;
    color: #9893A3;
}
.learnmore{
    margin: 0;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    color: #2F2E41;
    background: linear-gradient(to bottom, #ffffff, #c5c2ffb7 80%) ;
    background-size: 22%;
    background-repeat:no-repeat;

}
.plan{
font-family: 'Playfair Display';
font-size: 80px;
color: #2F2E41;
text-align: center;
margin-top: 100px;
}
.row{
    display: grid;
    margin-top: 100px;
    margin: auto;
}
.blockk1{
flex-direction:row;
padding: 70px 88px;
width: 310px;
height: 502px;
display: inline-block;
background: #6C63FF;
margin-inline: 50px;

}
.block {
flex-direction: row;
padding: 46px 88px;
gap: 30px;
display: inline-block;
width: 270px;
height: 410px;
background-color: #ECEBFF;
margin-bottom: 200px;
}  
.starter{
font-family: 'Open Sans';
font-size: 18px;
text-align: center;
color: #717082;
} 
.free{
font-family: 'Open Sans';
font-weight: 700;
font-size: 50px;
text-align: center;
color: #2F2E41;
}
#purpgetstarted{
	border: 1px solid #6C63FF;
    margin-top: 30px;
    text-align: center;
    font-family:'Open Sans';
    background: none;
    margin-left:82px ;
	color: #6C63FF;
  
}
#premium{
   
    color: #ffffff;
    }
.mydiv{
        font-family: 'Open Sans';
        text-align: center;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 50px;
        color: #ffffff;
        font-size:50px;
    }
.mydiv a{
        font-family: 'Open Sans';
        font-weight: bold;
        line-height: 56px;
        text-align: center;
        color: #ffffff;
        font-size:20px;
    }
#btn5{
   
	width: 170px;
	height: 51px;
    margin-top: 30px;
    margin-left: 70px;
  }
#mydiv1{
        color: #2F2E41;
    }
#mydiv1 a{
        color: #2F2E41;
    }
.blackblock{
        width: 900px;
        height: 296px;
        background: #2F2E41;
        margin: auto;
    }
.box{
	display: inline-flex;
    align-items:center;
}
.iigf{
display: inline-flex;
width: 346px;
font-family: 'Playfair Display';
font-size: 50px;
margin-top: 80px;
margin-left: 50px;
line-height: 56px;
color: #FFFFFF;
    }
#btn7{
    width: 186px;
    height: 54px;
    margin-left: 190px;
    margin-top: 30px;
   border: none;
}
.end{
    height: 60%;
    margin-top: 120px;
    background: rgba(236, 235, 255, 0.6);

}
.first{
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 18px;
    margin-bottom: 50px;
    color: #2F2E41;
    margin-top: 150px;
    margin-inline: 50px;
    margin-left: 450px;
}
.second{
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #2F2E41;
    margin-inline: 50px;
}
.ulichka{
    display: inline-flex;
    color: #9893A3;
    font-family:'Open Sans';
}
.fus2{
    margin-left: 1100px;
}

@media(max-width:1200px){
  
    .block1{
        width: 100%;
        margin-left: 5%;
        justify-content: space-around;
    }
    .img3{
        margin-left: 5px;
    }
    .block2{
        width: 100%;
        margin-left: 5%;
    }
    .rame{
        display:block;
        margin-left: auto;
    }
    .img2{
        width: 50%;
    }
    .text2{
        text-align: center;
    }
   
    .row{
        display: block;
    }
    .blockk1{
        margin-left: 20%;
        margin: 20%;
    }
   
    #second{
        margin-left: 23%;
        margin-bottom: 10%;
    }
    #first{
        margin-left: 23%;
        margin-bottom: 10%;    }

    .blackblock{
    margin-left: 2%;    }

.first{
    margin-left: 20%;
}
.second{
    margin-left: 10%;
}
.ulichka{
      display: flex;
}
.fus2{
    margin-left: 60%;
}
.third{
    margin-left:40%;
}

}  

@media(max-width: 500px){
    .menuitem{
        display: none;
    }
    .btn1{
        display: none;
    }
    .btn2{
        display: none;
    }
    .menu-button{
        display: inline-block;
    }

    .block1{
        display: grid;
        align-items: center;
        margin-left: 10%;
    }
    .img1{
        width: 300px;
        height: 300px;
    }
    .letsgetfusely{
        font-size: 50px;
        
    }
    .txt{
        font-size: 18px;
        line-height: 2px;
    }
    .img3{
        display: none;
    }
    .block2{
        display: grid;
    }
    .img2{
        margin-left: 10%;
    }
    .text2{
        margin-right: 50%;
        font-size: 50px;
    }
    .txtt{
        font-size: 20px;
        line-height: 10px;
    }
    .plan{
        font-size: 50px;
    }
    .row{
        display:block;
        margin-left: -27%;
    }
    .block{
        margin-bottom: 0%;

    }
    .blockk1{
        margin-top: 0%;
        margin-bottom: 10%;
    }
    .blackblock{
        width: 500px;
        height: 150px;
    }
    .iigf{
        font-size: 30px;
        line-height: 30px;
        margin-top: 0%;
        margin-left: 0%;
        margin-bottom: 10%;
        margin-right: 0%;
    }
    #btn7{
        display:inline;
        align-items: center;  
        margin-right: 40%;  
        margin-bottom: 15%;
        width: 200px;
        height: 50px;
}
.end{
    margin-top: 15%;
    display: grid;
}
.fus2{
    margin-left: 30%;
}
.second{
margin-left: 40%;}
.first{
    margin-left:40%;
    margin-top: 0%;
    margin-bottom: 0%;
}
}
